.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}

.icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.header-btn {
  cursor: pointer;
}
.active-header {
  background: #ede8e8;
}
